@{
    ViewBag.Title = "Experiemental Trial";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Item 1:</strong>   HTML contents and stuff<br />
    <strong>Item 2:</strong>   More stuff, lots of stuff!
</address>