
@{
	ViewBag.Title = "Hello World";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We shall call it - This Land.</p>
<p><em>No! Let's call it your grave!</em></p>
<p>Curse your sudden, but inevitable, betrayal!</p>


